.gallery{

    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    gap: 60px;
    padding: 50px;
    background-color: #45683eff;
}

.gallery img{

    flex: 0 0 calc(25% - 50px);
}

.heading{
    display: flex;
    justify-content: center;
    font-weight: 800 !important;
    background: #45683eff;
    font-family: Montserrat,sans-serif;
    color: white;
    padding-top: 30px;
}
